.nav {
    text-decoration: none;
    /* padding-right: 12px; */
    margin: 10px;

    /* background-color: aquamarine; */
}
/* 导航 */
.login {
    text-decoration: none;
    font-size: 5px;
    margin: 10px;
}
/* 登录 */
.img-nav,
.imgnav {
    height: 15px;
    width: 15px;
    padding-left: 160px;
}
/* 图片 */
.nav:hover {
    color: lightgray;
}
.login-div {
    text-align: end;
}
.logo {
    height: 12px;
    width: 12px;
}
